<div class="container-fluid">
    <div class="row">
        <nav id="navbar" class="navbar navbar-expand-lg fixed-top">

            <div class="col-2" id="divimg">
                <a class="navbar-brand" href="./{{docRoot}}"><img id="logo" class="img-fluid" alt="logo du site popcorn kawai" src="{{ docRoot }}public/images/c.png" height="98" width="98"></a>
            </div>
            <div class="col-4" id="titres">
                <h1>ciné|nline</h1>
            </div>
            <div class="col-4">
                <form action="" method="post">
                    <input id="placeholder" name="searchFor" type="search" placeholder="rechercher un film...">
                    <button class="btn" type="submit" id="loupe"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="col-2">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Connecté en tant que <b>{{ compteId }}</b>
          </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if compteId == 'invité' %}
                                <a class=" dropdown-item " href="{{docRoot}}connexion ">Connexion</a>
                                <a class="dropdown-item " href="{{docRoot}}inscription ">Créer un compte</a> {% else %}
                                <a class="dropdown-item " href="{{docRoot}}edit-profil ">Mon compte</a>
                                <a class="dropdown-item " href="{{docRoot}}deconnexion ">Déconnexion</a> {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
