{% extends "modelspages/index.html.twig" %}
{% block main %}

  <section class="container">
      <h2>PROFIL DE {{ userinfo.pseudo }}</h2>
      <p>Mail : {{ userinfo.email }}</p>
      <br>
        <a href="{{docRoot}}edit-profil"><button>Edition profil</button></a>
        <a href="{{docRoot}}edit-profil/Supprimer"><button>Supprimer mon compte</button></a>
        <a href="{{docRoot}}edit-films/Éditer"><button>Modifier mes films</button></a>
        <a href="{{docRoot}}edit-films/Ajouter"><button>Ajouter un film</button></a>
  </section>

  {% block section %}
  {% endblock %}

{% endblock %}
